@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
:root {
    font-family: inter, sans-serif;
    font-size: 1em;

    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}
 
body {
    background-color: var(--Purple);
    width: 320px;
    margin: 0 auto;
}
header h2{
    text-align: right;
    position: fixed;
    background-color: var(--Yellow);
    color: #1E1E1E;
    padding: 1.5rem;
    font-family: inter;
    font-style: italic;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 3;
}

header h3{
    font-style: italic;
    margin: 0 auto;
    padding: 3rem;
    position: absolute;
    text-align: center;
    background-color: var(--Pink);
    color: var(--White);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;

}

header, footer {
    background-color: var(--Lavender);
    z-index: 1;
}

header {
    background-color: var(--Lavender);

    padding: 0;
    margin: 0 ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: -30px;
    z-index: 2;
    

}


h1,h2{
    font-family: "Kavoon", sans-serif;
    color: var(--White);
    size: 3em;
    line-height: 0.0;

}
h1{
    size: 3em;
    font-weight: normal;
    text-align:center;



}
h2 {
    line-height: 0.0;
    size: 2em;
    font-weight: normal;


}

h3{
    color: var(--Yellow);
    size: 1.5em;
    font-weight: bold;
    line-height: .5em;

}

h4 {
    size: 1.15em;
    margin: 0;
    padding: 0;
    line-height: 0.0;
}
img{
    margin-bottom: 1em;
}

nav h2{
    size: 1.5em;
}
p{
    size: .5em;
}
section {
    background-color: var(--White);
    border-radius: 15px;
    padding: 18px;
    padding-bottom: 7px;
    margin-left: 5px;  
    margin-right: 5px;  


    margin-bottom: 15x;  
      margin-top: 15px;
    
}

section h4{
    COLOR: var(--Purple);
    font-weight: bolder;
    padding: 2px;
    margin: 1px;
    
}




#why-choose-us {
    background-color: var(--Pink);
    border-radius: 0;
    margin: 0;
}

#first-step{
    text-align:center;

    background-color: var(--Pink);
    border-radius: 0;

}

#first-step h2{
    text-align:center;
    line-height: normal;
    margin: O auto;

}