@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
:root {
    font-family: inter, sans-serif;
    font-size: 1em;

    --Teal :#4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}
 
body {
    background-color: var(--Purple);
    width: 450px;
    margin: 0 auto;
}

header{
    margin: 0 auto;
    width: 450px;
    
}
header h2{

    text-align: right;
    position: fixed;
    position: top;
    background-color: var(--Yellow);
    color: #1E1E1E;
    padding: 1.5rem;
    font-family: inter;
    font-style: italic;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 3;
}



header  h1{
    position: absolute;
    top: 0;

    width: 450px;
    margin: 0 auto;
    padding:30px 0px 30px 0px ;
    border-radius:0 0 20px 20px;
    font-size: 3em;
    text-align: center;
    background-color: var(--Lavender);
    z-index: 2;


}

header h3{
    position: relative;
    top: 80px;
    left:45px;
    width: 340px;
    align-self: center;
    padding:0px;
    padding-top:30px;
    padding-bottom: 10px;

    border-radius:0 0 20px 20px;
    font-style: italic;
    font-weight: normal;
    background-color: var(--Pink);
    color: var(--White);

    text-align: center;
    z-index: 1;
    font-size: 1em;
}




h1,h2{
    font-family: "Kavoon", sans-serif;
    color: var(--White);

}
h1{
    size: 3em;
    font-weight: normal;
    text-align:center;



}
h2 {
    line-height: 0.0;
    size: 2em;
    font-weight: normal;


}

h3{
    color: var(--Yellow);
    size: 1.5em;
    font-weight: bold;

}

h4 {
    size: 1.15em;
    margin: 0;
    padding: 0;
    line-height: 0.0;
}
img{
    margin-bottom: 1em;
}

nav h2{
    size: 1.5em;
}
p{
    size: .5em;
}
section {
    
    background-color: var(--White);
    border-radius: 15px;
    padding: 22px;
    margin: 20px;
    
}

section h4{
    COLOR: var(--Purple);
    font-weight: bolder;
    padding: 2px;
    margin: 1px;
    
}




#why-choose-us {
    width: 450px;
    background-color: var(--Pink);
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3;
    margin-bottom: 3;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;

}

#first-step{
    text-align:center;

    background-color: var(--Pink);
    border-radius: 0;

}

#first-step h2{
    text-align:center;
    line-height: normal;
    margin: O auto;
    margin-bottom: 0;

}
footer{

    width: 450px;
    margin: 0 auto;
    padding:30px 0px 30px 0px ;
    border-radius:0 0 20px 20px;
    text-align: center;
    background-color: var(--Lavender);
    z-index: 2;

}

